#
# stack2 sample configuration
#
[global]
# password for all service, include database
passwd = choe
region = region0

# admin tenant이외의 추가 tenant 생성
tenants = choe1, choe2

# 추가 user 생성
users = choe1, choe2

# 각 호스트에 부여할 롤을 정의
# key: 호스트의 eth0 mac address
# value: 부여할 롤, 순서대로 적용되며 Installer.role에 정의되어 있음
# 
# 한 호스트에 모든 서비스 설치할 경우
# 000c296a6433 = os, db, keystone, glance, controller, swift, compute, prepare-image, prepare-instance
#
# compute 노드를 분리할 경우
# 000c296a6433 = db, keystone, glance, controller, swift, prepare-image	; nova-compute를 제외한 모든 것
# 000c29d5165f = compute, prepare-instance					; nova-compute
[roles]
controller = db, keystone, glance, controller, swift, prepare-image
compute = compute
network = network, create-network


# host: mac addr maps
[hosts]
000c29d243d8 = controller
000c2924da4d = compute
000c29d668ce = network

#
# nova-volume
#
[volume]
# nova-volume이 위치할 디바이스,
# 이 디바이스에 pvcreate로 physical volume을 만드고 vgcreate로 nova-volumes라는 logical volume이 만들어진다.
dev = /dev/sdb


#
# nova-network
#
[network]
# controller ip
control_ip = 10.200.1.5

# instance 들이 사용할 bridge 이름, br100이 openstack 기본값
# nova-network 호스트는 이 bridge가 없으면 자동으로 생성하지만
# nova-compute 만 설치된 호스트는 이 bridge를 만들지 않으므로 미리 만들어야 한다.
# 이 스크립트에서는 nova-compute에서 자동으로 bridge를 생성한다.
bridge = br100

# 위의 bridge와 연결된 interface, 즉 모든 guest traffic은 여기로 흐른다.
bridge_iface = eth1

# Interface for public IP address
# floating_ip와 관련이 있다. 하지만 iptables 상에서 device를 특정한다는 그런 것은 없음
public_interface = eth2

# 이 network 노드에서 설정할 네트웍을 지정한다.
compute = network_separated_nova_network
network = network_separated_nova_network

# floating ip cidr
floating_cidr = 10.200.0.0/24

# The nova-network service can be configured to automatically allocate and
# assign a floating IP address to virtual instances when they are launched.
auto_assign_floating_ip = True

[network_separated_nova_network]
name = separated_nova_network
network_type = default
fixed_cidr = 192.168.10.0/24
num_networks = 2
fixed_size = 100
fixed_dhcp_start = 192.168.10.10
#fixed_gw =

# multihost example
[network_multihost]
name = multihost
network_type = multi_host
fixed_cidr = 192.168.10.0/24
num_networks = 1
fixed_size = 255
fixed_dhcp_start = 192.168.10.10

# physical gateway example
[network_physical_gateway]
name = physical_gateway
network_type = physical_gateway
fixed_cidr = 10.100.0.0/24
fixed_size = 254
fixed_dhcp_start = 10.100.0.10
gw = 10.100.0.1
dns = 168.126.63.1, 8.8.8.8


#
# swift
#
[swift]
# swift device
# /dev/로 시작하면 물리 디바이스, 아니면 loopback file 디바이스
dev = swift.img

# loopback file size
loopback_size = 10G

# 위 디비이스를 마운트할 위치
mount = /var/swift

